{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Visualizer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"/>
  </head>
  <body>
    <div class="main">
      <div class="banner">
        <h1>Visualizer</h1>
      </div>
      <div class="info">
        <div class="links">
          <div class="link">
            <p><a href="{% url 'visualizer:index' %}">View Classrooms</a></p>
          </div>
          <div class="link">
            <p><a href="{% url 'visualizer:classroom-registration' %}">Create Classroom</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <div class="small-link">
          <p class="footer-p">about</p>
        </div>
        <div class="small-link">
          <p class="footer-p">contact us</p>
        </div>
      </div>
      <div class="right">
        <div class="small-img">
          <p class="footer-p">img</p>
        </div>
        <div class="small-img">
          <p class="footer-p">img</p>
        </div>
        <div class="small-img">
          <p class="footer-p">img</p>
        </div>
      </div>
    </div>
  </body>
</html>
