{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Classroom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1> Delete Classroom </h1>
    <p> Are you sure you want to delete this classroom: {{ classroom.classroom_name }}</p>

    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
  </body>
</html>
