{% load static %}
<!DOCTYPE html>

<html>
  <body>
    {% if grades %}
      <h1> Student Grades</h1>
    <ul>
      {% for grade in grades %}
        <li>{{ grade.subject }} {{ grade.grades }} - [{{ grade.date }}]</li>
        {% endfor %}
    </ul>
    <a href="{% url 'visualizer:charts' classroom student %}">Chart it!</a>

    {% else %}
      <p>Student does not yet have any grades</p>
    {% endif %}
    <h1>Record Grades for your Student!</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
  </body>


</html>
