:root {
  --primary-color: rgb(0, 0, 73);
  --secondary-color: rgb(243, 10, 10);
  --color-white: rgb(245, 243, 239);
  list-style: none;
  font-family: 'Bitter', 'Tahoma', 'sans-serif';
}

html {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.banner {
  display: flex;
  background-color: var(--color-primary);
  border-bottom: 10px solid var(--color-white);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  justify-content: center;
}

.info {
  margin-top: 100px;
  display: flex;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  border: 10px solid var(--color-white);
  background-color: var(--primary-color);
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 10%;
}

h1 {
  font-size: 5rem;
  color: var(--color-white);
  font-weight: 700;
}

p {
  font-size: 2rem;
  color: var(--color-white);
  text-align: center;
}

.footer {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-top:5px solid var(--color-white);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.left {
  display: flex;
  margin-left: 0;
  gap: 15px;
  align-items: center;
  padding-left: 10px;
}

.right {
  display: flex;
  margin-right: 0;
  gap: 15px;
  align-items: center;
  padding-right: 10px;
}

.small-link {
  display: flex;
  padding-right: 10px;
}

.small-img {
  display: flex;
  padding-left: 10px;
}
.footer-p {
  font-size: 1.5rem;
  color: var(--color-white)
}

a, a:visited, a:link, a:active, a:-webkit-any-link{
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
}

a:hover {
  color: var(--secondary-color);
}
